@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

:root {
    --primary-color: #422749;
    --secondary-color: #a0c1b9;
    --accent1-color: #9a94b8;
    --accent2-color: #70a0af;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #a0c1b9;
    --nav-link-color: #fff;
    --nav-hover-link-color: #706993;
    --nav-hover-background-color: #fff;
}

nav {
    float: right;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Class Selectors */
  
.box {
    margin: 5px;
    border: 6px solid var(--accent1-color);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero {

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.sociallinks a {
    text-decoration: none;
    margin-right: 10px;
}
  