@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
      
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

button:hover {
    background-color: darkgreen;
}