* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* class selector*/

.box {
  margin: 1rem;
  border: 6px solid rgba(193, 14, 14, 0.948);
  padding: 1rem;
  background-color: #fff;
  color: #3c1e1e;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

main {
  max-width: 840px;
}

h1 {
  color: steelblue;
}

main img {
  width:150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
  margin: 1em;
  border: 100px solid #fff;
  padding: 1em;
  background-color: #fff;
  color: #000000;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}